.account{
    background: linear-gradient(45deg, #054635, #ffef00);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover{
    box-shadow: 2px 2px 10px black;
}

.account-details-header{
    background: linear-gradient(45deg, #001a80, #0080ff);
    color: white;
}

.account-balance{
    font-size: 2em;
    margin: 0px;
}

.account-link{
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create{
    margin-bottom: 15px;
}

.credit-transaction{
    color: green;
}

.debit-transaction{
    color: red;
}

.loan{
    background: linear-gradient(45deg, #001a80, #c7c7c7);
    color: white;
}

.menu-logo{
    width: 40px;
    height: 40px;
}